@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f4eac5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffdf6a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #eac84d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  
}

header {
  width: 100%;
  /* height: 60px; */
  padding: 10px 40px;
}

main {
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  padding : 0.5rem 2rem;
  top : 0;
  left: 0;
  width: 100vw;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.nav-items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 52px;
  list-style: none;
  overflow: auto;
}
.nav-item a{
  text-decoration: none;
  transition: all 0.3s ease;
  font-family: 'Open Sans';
  font-weight: 600;
  line-height: 23px;
  font-size: 17px;
  /* background-color: #ff3333; */
  color: #979797;
}
.nav-item h3{
  color: #979797;
  font-size: 17px;
}
.active, .nav-item a:hover, .activity-card-text-title h4:hover{
  color: #007EC6;
}
@media screen and (max-width: 500px) {
  .nav-item a{
    float: none;
    display: block;
  }
}
.logo-container {
  height: 60px;
}
.logo-container img {
  width: 106px;
  height: 56px;
  left: 156px;
  top: 16px;
}

.frame-partner, .content-product, .content-contact, .content-product2, .content-about-top, .content-about-bottom{
  background-color: #F6F9FC;

}
.frame1{
  background-color: #FEFEFE;
  height: 620px;
}

.content-header {
  width: 100%;
  display: flex;
  padding: 2rem 0 0 1rem;
  margin-top: 100px;
  gap: 50px;
}
.content-header__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  margin-left: 156px;
  gap: 56px;
}

.text_welcome_home h1{
  padding-bottom: 3%;
  font-weight: bold;
}

.text_welcome_home p{
  text-align: justify;
}
.text_welcome{
  padding: 0px;
  gap: 36px;
  
}
.text_welcome h1{
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  font-style: normal;
  color: #007EC6;
  padding-bottom: 3%;
}
.text_welcome p{
  text-align: justify;
}

.content-activity a , .content-contact__alltext a,.content-activity__title,.content-product__title, .content-product a, .content-about-text a, .text_welcome h2 h1, .content-activity__card__text h4,.content-product__card__text h4{
  color: #212529
}
.text_welcome p, .content-about-bottom-card-title h2{
  color: #32325D
}
.text_welcome h2{
  font-size: 22px;
}
.button-primary {
  font-size: 14px;
  margin-bottom: 2%;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: center;
  color: #F6F9FC;
  cursor: pointer;
}



.content-about {
  display: flex;
  justify-content: center;
  align-items: center;
}
.frame2 {
/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 52px 72px;
gap: 10px;
}
.frame22{
/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;
}
.content-about-text {
  padding: 5rem;
  /* text-align: center; */
  width: 40rem;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 42px;
}
.content-about-text__title {
  margin-bottom: 1rem;
  font-size: 35px;
}
.content-about-text a, .content-product a, .content-activity a, .content-contact__alltext a{
  text-decoration: none;
}
/* .content-about-text a:hover, .content-product__title:hover, .content-activity__title:hover, .content-contact__alltext a:hover{
  background-color: #007EC6;
  color: #FFFFFF;
} */
.content-about-text__content{
  font-size: 20px;
  text-align: center;
  /* Inside auto layout */

}
.content-about-text__content p{

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  text-align: justify;
}
.content-about-top{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 119px 200px 208px 200px;
  gap: 86px;
  
}
.content-about-top-text h1{
font-size: 35px;
text-align: right;
}
.content-product, .content-activity, .content-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 72px 0px;
  gap: 42px;
  border-radius: 6px;
}
.content-about-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 62px 0px 62px 0px;
  gap: 42px;
  border-radius: 6px;
}
.content-product__title, .content-activity__title, .content-contact__title, .content-about-center-text h1 {
  font-size: 35px;
  justify-content: center;
  display: flex;
}
.content-about-center-text{
  display: flex;
  text-align: center;
}
.content-product__card-container, .content-activity__card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
}
.content-about-center__card-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.content-about-bottom-body{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
  padding: 0 15% 0;
}
.content-about-bottom{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 137px 0px 137px 0px;
  gap: 42px;
  width: 100%;
}
.content-about-bottom-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 16px;
}
.content-about-bottom-body{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}
.content-about-bottom-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px;
  gap: 24px;

  width: 260px;
  min-height: 200px;
  background: #FFFFFF;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 6px;
}
.content-bottom-card-title{
  padding: 0px;
  gap: 4px;
  text-align: center;
}
.content-bottom-card-title h1{
  font-size: 20px;
}
.content-bottom-card-title p{
  color: #8898AA;
  font-size: 12px;
  padding-top: 5%;
}


.content-bottom-card-button a{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.content-bottom-card-button{
  padding-left: 24%;
  padding-right: 5%;
}
.content-bottom-card-button:hover a{
  background-color: red;
  text-decoration:none ;
  color: white;
  border-radius: 10px;
}
.content-activity__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  background-color: white;
  box-shadow: 0px 0px 32px rgba(136, 152, 170, 0.15);
  width: 20rem;
  height: 23rem;
  /* border-radius: 20px; */
  overflow: hidden;
}

.content-activity__card:hover{
  transform: scale(1.05);
    box-shadow: 0px 2px 40px #d7dfe2
}

.content-product__card{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  background-color: white;
  box-shadow: 0px 0px 32px rgba(136, 152, 170, 0.15);
  width: 20rem;
  height: 20rem;
  /* border-radius: 20px; */
  overflow: hidden;
}

.content-product__card:hover{
  transform: scale(1.05);
  box-shadow: 0px 2px 40px #d7dfe2
}

.content-about-center__card{
  width: 350px;
  height: 300px;
  background-color: white;
  box-shadow: 0px 0px 32px rgba(45, 49, 53, 0.15);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
}
.content-activity-detail{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
  padding: 56px 156px 96px 156px;
}
.content-activity-detail__card__image{
  overflow: hidden;
  width: 1128px;
  height: 456px;
  border-radius: 8px;
}
.content-activity-detail__card__image img{
  width: 80rem;
  
}
.content-activity-detail__card__text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  width: 1128px;
  height: 444px;
}
.content-activity-detail__card__text p{
  text-align: justify;
}
.content-activity-detail-paragraph{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}
.content-activity-detail-paragraph p{
  text-align: justify;
}
.content-product__card__image, .content-activity__card__image, .content-about-center__card__image{
  width: 360px;
  height: 140px;
  overflow: hidden;
}


.content-product__card__image img, .content-activity__card__image img, .content-about-center__card__image img {
  width: 22rem;
}

.content-product__card__text, .content-activity__card__text, .content-about-center__card__text {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 24px 24px;
  gap: 16px;
}
.content-activity__card__text h4, .content-about-center__card__text h4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
}

.content-product__card__text h4{
  font-size: 25px;
}

.content-product__card__text p{
  text-align: justify;
  font-size: 0.8rem ;
  color: #525F7F;
}

 .content-activity__card__text p, .content-about-center__card__text p {
  color: #525F7F;
  font-size: 0.8rem;
}
.content-product2{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 56px 156px 156px 156px;
  gap: 42px;

}
.content-product__card-container2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}
.content-product__title2 h1{
font-size: 35px;
}



.content-product__title2{
  display: flex;
  align-items: center;
}
.content-product__card__image2{
  width: 160px;
  height: 160px;
  overflow: hidden;
  border-radius: 8px
}
.content-product__card__image2 img{
  width: 20rem;
}
.content-product__card__text2-title{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
}
.content-product__card__text2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}
.content-product__card__text2-title h4{
  font-size: 26px;
}
.content-product__card2{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 36px;
}
.content-contact{
  display: flex;
}
.content-contact__alltext{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
}
.content-contact__box{
  display: flex;
  flex-direction: column;
  padding: 52px;
  gap: 16px;
  width: 939px;
  height: 390px;

  background: #FFFFFF;
  /* shadow 32 */

  box-shadow: 0px 0px 32px rgba(136, 152, 170, 0.15);
  border-radius: 6px;
}
.content-contact-form{
  display: flex;
  flex-direction: column;
  gap: 16px;
  
  
}
div.elem-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

label {
  display: block;
  padding-bottom: 4px;
  font-size: 14px;
  font-weight: bold;
}

input, select, textarea {
  border-radius: 2px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 14px;
  width: 691px;
  padding: 8px;
}

textarea {
  height: 85px;
}
.button-message{
  display: flex;
  justify-content: center;
}
.button-primary a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #FFFFFF;
}
.button-primary{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 141px;
  height: 43px;
  background: #007EC6;
  border: none;
  border-radius: 4px;
  padding: 12px 21px;
  gap: 10px;
}

.button-primary:hover{
  background: #c75723;
}
.frame-partner{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 175px;
  gap: 16px;
}
.frame-partner-title p{
  font-size: 23px;
  color: black;
  font-weight: bold;
}
.frame-partner-title{
  font-weight: 600;
font-size: 15.2px;
line-height: 21px;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

/* Gray/700 */

color: #525F7F;
}
.frame-partner-image{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 52px;
  list-style: none;
  overflow: auto;
}
.frame-partner-image img {
  height: 90px;
}
.footer_kopegtel {
  display: flex;
  gap: 12px;
  padding-top: 52px;
  align-items: center;
  flex-direction: column;
  background-color: #172B4D;
  height: 318px;
}
.footer-main{
  display: flex;
  justify-content: space-around;
  gap: 52px;
  height: 172px;
  border-bottom: 1px solid #FFFFFF;
}
.footer-left img{
width: 101px;
height: 60px;
}
.footer-right a{
  text-decoration: none;
  line-height: 20px;
  font-weight: normal;
  margin: 0px;
}
.footer-left{
  display: flex;
  flex-direction: column;
  width: 410px;;
  gap: 16px;
  justify-content: flex-start;
}
.footer-company-name{
  text-align:left;
}
.footer-center{
  display:flex;
  gap: 24px;
  flex-direction: column;
}
.footer-center h5, .footer-right h5, .footer-link h5{
  font-size: 22px;
  color: #FFFFFF;
}
.footer-link{
  display: flex;
  flex-direction: column;
  gap:16px;
}
.footer-right a, .footer-left p, .footer-link a, .footer-right-phone p, .footer-right-email p, .footer-right-email span, .footer-right-phone span{
  color: #FFFFFF;
  text-decoration: none;
  font-size: 16px;
}
.footer-center-logo{
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  width: 100px;
  height: 100px;
  color: #FFFFFF;
}
.footer-logo{
  color: #FFFFFF;
}
/* .footer-line-border hr{
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  width: 1128px;
} */
.footer-right-email, .footer-right-phone{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-right{
  display: flex;
  flex-direction: column;
  gap:16px;
}
.footer-cr{
  /* display: flex;
  justify-content: flex-start; */
  /* border-top: 1px solid #FFFFFF; */
  text-align: left;
  width: 100vw;
  padding-left: 9rem;
}
.footer-cr p{
  color: #F6F9FC;
  font-size: 13px;
}

.pagination{
  display: flex;
  gap: 1rem;

}
.pagination-item{
  background-color:  white;
  display: flex;
  border: solid #DEE2E6 0.15rem;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.pagination-item:hover{
  background-color:#5E72E4 ;
  color: white;
}


/**
 *
 * Additional style for component
 *
 */


/**
 *
 * Responsive screen
 * Uncomment only when you need 
 *
 */

/* Style for XS Screen */

@media screen and (max-width: 576px) {
    .content-header{
        flex-direction: column;
    }
} 


/* Style for SM Screen */
/* 
@media screen and (min-width: 576px) {
    .image-form-item{
        background-color: yellow;
    }
} 
*/

/* Style for MD Screen */
/* 
@media screen and (min-width: 768px) {
    .image-form-item{
        background-color: green;
    }
} 
*/

/* Style for LG Screen */
/* 
@media screen and (min-width: 992px) {
    .image-form-item{
        background-color: blue;
    }
} 
*/

/* Style for XL Screen */
/* 
@media screen and (min-width: 1200px) {
    .image-form-item{
        background-color: blueviolet;
    }
} 
*/

/* Style for XXL Screen */
/* 
@media screen and (min-width: 1600px) {
    .image-form-item{
        background-color: orange;
    }
} 
*/

/* SLIDER */
* {box-sizing:border-box}

.content-header__image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 150px;
  margin-left: 120;
}

.content-header__image img {
  width: 456px;
  height: 300px;
}

.content-header__image_splash{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 120px;
  margin-left: 120;
}
.content-header__image_splash img {
  width: 456px;
  height: 400px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Fading animation */
.fade {
  animation-name: slides;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.content-contact__title{
  margin-top: 30px;
}

.elem-group{
  margin-bottom: 20px;
}


.member-list{
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.image-member{
  width: 2%;
  margin: 0 auto;
}

.image-member img{
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.image-member p{
  font-family: 'comic sans ms';
  font-weight: 800;
  font-size: 25px;
  text-align: center;
}


.artikel ul li{
  float: left;
   padding-right: 10px;
   font-family: Ubuntu,Helvetica,sans-serif;
   list-style: none;
   color: #10405a;
   font-size: 14px;
  font-weight: 700;
  letter-spacing: .4px;
  }
  
  .artikel{
    padding: 5% 15% 15% 15%;
  }
  
  .title{
    font-family: Roboto,sans-serif;
      color: #10405a;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: .4px;
      white-space: nowrap; 
  }
  
  .artikel p{
    text-align: left;
    padding-top: 3%;
    font-family: Roboto,sans-serif;
    font-size: 14px;
  }
  
  .span{
    color: #7bc794;
    font-weight: bold;
  }
  
  
  .artikel-image img{
    width: 100%;
    height: 450px;
    padding-top: 3%;
    border-radius: 5px;
    
  }
  
  article{
    padding-top: 2%;
     padding-bottom: 1%;
    font-family: Roboto,sans-serif;
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: .4px;
    color: #113f59;
  }
  
  .artikel-image h2{
    font-family: Ubuntu,Helvetica,sans-serif;
    color: #10405a;
    font-size: 35px;
    font-weight: 700;
  }
  
  .artikel-image p{
    padding-bottom: 2%;
  }
  .activity-title{
    text-align: center;
    padding-top: 2%;
  }

  .description{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      text-align: justify;
  }
  
  .content-about-center-body{
    padding: 0 10% 0;
  }

 .card-profile {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 200px;
    height: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }

  .card-profile:hover{
    transform: scale(1.05);
    box-shadow: 0px 2px 40px #d7dfe2
  }

  .card-profile img{
    width: 90%;
    height: 200px;
    padding: 5%;
  }
  
  .title-profile {
    color: grey;
    font-size: 18px;
  }
  
  .desc-profile{
    padding-top: 5%;
    padding-bottom: 7%;
  }

  .desc-profile h2{
    font-size: 13px;
    font-family: arial;
  }
  .desc-profile p{
    font-size: 14px;
    padding-top: 2%;
    font-family: arial;
  }
  
.title-activity{
  padding-top: 4%;
}

.title-product{
  padding-top: 4%;
}



/* Navbar */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: 'Work Sans', sans-serif;
  background-color: #FEFEFE;
}


.brand img{
  width: 106px;
  height: 56px;
  margin-top: 5px;
}
/* burger icon */

.burger {
  display: inline-block;
  cursor: pointer;
  z-index: 2;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 5px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  background-color: white;
}

.change .bar2 {opacity: 0;   background-color: white;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
    background-color: white;
}

/* wraper */



.container-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  padding: 10px 20px;
  box-shadow: 1px 2px 10px 2px rgba(0,0,0,.1);
  background-color: white;
}

nav .brand a {
  font-size: 1.4rem;
  text-decoration: none;
  font-weight: 550;

}

.bg-sidebar {
  top: 0;
  right: -100%;
  bottom: 0;
  width: 100%;
  position: fixed;
  background: rgba(0,0,0,.1);
  transition: .3s;
  visibility: hidden;
}

.bg-sidebar.change {
  right: 0;
  visibility: visible;
  display: block;
}



nav ul {
    display: flex;
    position: fixed;    
    background-color:#505050;
    top: 0;
    bottom: 0;
    right: -300px;
    width: 300px;
    transition: .5s;
    align-items: flex-start;
    flex-direction: column;
}

nav ul.change {
    right: 0;
    transition: .5s;
}

nav ul li {
  list-style: none;
  padding: 20px 15px;
}

nav ul li a {
  color: white;
  font-size: 1.2rem;
    text-decoration: none;
}

@media screen and (min-width: 960px) {

  .bg-sidebar.change {
   right: 0;
   visibility: hidden;
   display: none;
  }

  .burger {
    display: none;
  }

  nav {
    position: relative;
  }

  nav ul {
    display: flex;
      position: relative;    
      background-color:unset;
      top: unset;
      bottom: unset;
      right: unset;
      width: unset;
      flex-direction: row;
  }

  nav ul li {
    padding: 10px 15px;

  }

  nav ul li:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    transition: .3s;
    background-color: black;
    transform: translateY(20px);
  }


  nav ul li a {
    color: black;
    font-size: 1.1rem;
  }

  nav ul li:last-child {
    font-weight: 550;
  }
}

@media screen and (min-width: 1200px) {
  .container-flex {
   width: 100%;
   max-width: 1024px;
   margin: auto;
   display: flex;
  justify-content: space-between;
  align-items: center;
  }
}



@media screen and (max-width: 500px) {
  .burger{
    padding-left: 300px;
  }
  body{
    margin: 0;
    padding: 0;
  }

  .frame1{
    padding: 0 5% 0;
  }
  .content-header__image_splash img{
    display: none;
  }

  .content-header__text{
    display: block;
    padding: 0;
    margin: 0;
  }

  .text_welcome_home p{
    padding-right: 9%;
    padding-bottom: 5%;
  }

  .frame2{
    display: block;
    padding: 0 9% 10%;
    margin: 0;
  }

  .content-about-text__content{
    text-align: justify;
  }
  .content-about-text__title{
    text-align: center;
    font-size: 25px;
    padding-top: 10%;
  }

  .content-contact__box{
    width: 400px;
  }
  .content-contact__box form label{
    display: none;
  }

  .content-contact__alltext p{
    text-align: center;
    font-size: 15px;
  }

  .footer-main{
    display: block;
  }

  .footer-link{
    display: none;
  }

  .footer-center{
    display: none;
  }

  .footer-right{
    display: none;
  }

  .content-header__image img{
    display: none;
  }
  
  .content-about-center-text h1{
    font-size: 25px;
  }

  .content-about-center__card-container{
    padding: 0 9% 0;
  }


  .card-profile img{
    width: 80%;
    height: 200px;
    padding: 5%;
  }

  .card-profile {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 200px;
    height: 275px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .content-about-bottom-text p{
    font-size: 15px;
  }

  
  .content-about-bottom-card{
    margin: auto;
    width: 210px;
  }

  .content-about-bottom-body{
    margin: 0;
    padding: 0 5% 0;
  }
  .content-bottom-card-button {
    margin: 0;
    padding: 0 17% 0;
  }

  .title-product{
    padding: 10% 0 0 0;
  }

  .title-activity{
    padding: 10% 0 0 0;
  }

  .artikel{
    padding: 20% 5% 5% 5%;
  }
  .artikel-image img{
    height: 250px;
  }

  .artikel-image h2{
    font-size: 25px;
    padding-bottom: 2%;
    padding-top: 3%;
  }
}



  


  




